<h1>La Gazzetta dello Porco</h1>

<div class="container">
  <h3>Toute l'actu footix des gros porcs</h3>

  <%= link_to 'Ecrire un article', new_article_path, class: 'btn btn-primary' %>

  <% @articles.each do |article| %>
    <div class="article-card">
      <%= link_to '', article_path(article), class: "article-link" %>
      <h4><%= article.title %></h4>
      <%= image_tag article.image, alt: "alttext" %>
      <p style="white-space: pre-line; overflow:hidden; max-height:50px;"><%= article.content %></p>
      <% if article.user == current_user %>
        <%= link_to edit_article_path(article) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to article_path(article), method: :delete, data: { confirm: "Es-tu sûr de ton coup? :'(" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
