<h1>
  <%= @article.title %>
  <% if @article.user == current_user %>
    <%= link_to edit_article_path(@article) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Es-tu sûr de ton coup? :'(" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</h1>

<div class="container">
  <div id="article-container" class="row">
    <div id="article-content" class="col-xs-12 col-md-8">
      <p><em>Rédigé par <%= @article.user.pseudo %></em></p>
      <%= image_tag @article.image, alt: "alttext" %>
      <div style="white-space: pre-line"><%= @article.content %></div>
    </div>

    <div id="comments-box" class="col-xs-12 col-md-4">
      <span id="comments-number"><%= @article.comments.count %> commentaires</span>
      <div id="comments-list" style="overflow:auto; height:200px;">
        <%= render 'comments_list', comments: @article.comments %>
      </div>

      <div id="comment-form">
        <%= render 'comment_form', article: @article, comment: Comment.new %>
      </div>
    </div>
  </div>
</div>
