<!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <div class="article-card">
        <div class="img-card-container">
          <%#= link_to '', article_path(article), class: "article-link" %>
          <%= image_tag article.image, alt: "alttext" %>
        </div>
      </div>

    </div>
    <div class="back">
      <div class="article-card">
        <%= link_to '', article_path(article), class: "article-link" %>
      </div>
    </div>
  </div>
</div> -->

<div class="article-card">
  <div class="main-card-display" style="background-image: linear-gradient(to right, #00F8, #FFF8 45%, #FFF8 55%, #F008), url('<%= article.image %>')">
    <h4><%= article.title %></h4>
    <%= link_to 'Lire', article_path(article) %>
  </div>
  <div class="details">
    <div class="pre-content">
      <strong>Par <%= article.user.pseudo %> <br> </strong>
      <%= article.content %>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="image">
    <img src="<%= article.image %>"/>
  </div>
  <div class="details">
    <div class="center">
      <%= article.comments.count %> commentaires
      <% if article.user == current_user %>
        •
        <%= link_to edit_article_path(article) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to article_path(article), method: :delete, data: { confirm: "Es-tu sûr de ton coup? :'(" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div> -->
