<% bet = game.bets.find { |bet| bet.user == current_user } %>

<div class="team-label team-home flex-center">
  <%= game.team_home.name %>
</div>

<div class="game-info flex-center">
  <div class="game-main-info">
    <%= game.score_home %>

    <% unless bet || game.status != 'open' %>
      <%= render 'shared/bet_form', bet: Bet.new, game_id: game.id %>
    <% else %>
      <%= ' - ' %>
    <% end %>

    <%= game.score_away %>
  </div>

  <div class="game-bet-info">
    <%= "(#{bet.score_home} - #{bet.score_away})" if bet %>
  </div>
</div>


<div class="team-label team-away flex-center">
  <%= game.team_away.name %>
</div>
